*{
    --background-color: #f5e8fa;
    --accent-color: #c071c5;
    --shadow:  #cec4d3;
    --font-color: #7b747f;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-blend-mode: overlay;
    background-image: url('res/icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background-color);
    min-height: 100vh;
    min-width: 100vw;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 7px 7px 14px var(--shadow);
}
header img{
    width: 3em;
}
nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
nav img{
    width: 20px;
    height: 20px;
    display: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(99, 95, 101);
    font-weight: 500;
    border-bottom: 1px solid var(--background-color);
}
nav ul li a:hover{
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}
.signup-btn{
    color: white;
    background-color: var(--accent-color);
    padding: 9px;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    animation: fade-in 1s forwards;
    transition: 0.3s;
}
.signup-btn:hover{
    background-color: transparent;
    color: var(--accent-color);
}
.sidebar{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    height: 50vh;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    font-size: 1em;
}
.sidebar img{
    width: 15px;
    height: 15px;
}
.sidebar ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: split 0.5s forwards;
    transition: 0.3s smooth;
}
.sidebar ul li a{
    text-decoration: none;
    color: rgb(99, 95, 101);
    font-weight: 500;
    border-bottom: 1px solid var(--background-color);
}
.sidebar ul li a:hover{
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}
.sb-signup-btn{
    color: var(--accent-color);
}
footer{
    margin-top: 40px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calc(100vh/20);
    text-align: center;
    color: var(--font-color)
}
strong{
    color: var(--accent-color)
}
.hero-img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 500px));
    justify-content: center;
    gap: 30px;
    width: 80%;
    height: auto;
}
.hero-img div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px var(--shadow);
    transition: 0.5s;
}
.hero-img div:hover{
    transform: translateY(-5px);
}
.hero-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.hero a{
    margin-top: 2em;
    max-height: 1.5em;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 0.5em;
    font-weight: 500;
    border-radius: 1em;
    background: linear-gradient(to left, var(--accent-color), rgb(120, 18, 141), rgb(159, 23, 186), #741887, #8a0aa3, #5c166a, var(--accent-color));
    background-size: 400%;
    animation: animate-gradient 5s linear infinite;
    transition: 0.3s;
    border: solid 1px;
}
.hero a:hover{
    color: rgb(224, 146, 224);
    outline: currentColor;
    transition: 1s smooth;
}

@media (max-width: 800px) {
    .hide-on-mobile{
        display: none;
    }

    nav img{
        display: block;
    }
}
@keyframes fade-in {
    from{
        background-color: transparent;
    }
    to{
        background-color: var(--accent-color);
    }
}
@keyframes split {
    from{
        gap: 0px;
    }
    to{
        gap: 20px;
    }
}
@keyframes animate-gradient {
    to{
        background-position: 400%;
    }
}